.header {
	height: 50px;
	margin: auto;
	width: 1000px;
	padding-top: 16px;
	overflow: hidden;
	clear: both;
}
.search-input {
	width: 280px;
}
.pub-share {
	margin-top: 10px;
}
.logo {
	float: left;
	margin: 0 35px;
	width: 136px;
	height: 42px;
}

.user-register {
	display: inline-block;
	margin-left: 16px;
}
.user-login {
	margin-left: 16px;
}
.mini-layout {
	background: #FCFCFC;
	margin-top: 16px;
	margin-left: 12px;
	padding: 28px;
	border: 1px solid #E1E1E1;
	width: 1000px;
	clear: both;
}
.article-layout {
	/*background: #FCFCFC;*/
	padding: 0px 28px 16px 28px;
	border: 1px solid #E1E1E1;
	width: 640px;
	clear: both;
}
.demo-layout {
	margin-top: 12px;
	/*background: #FCFCFC;*/
	padding: 0px 28px 16px 28px;
	border: 1px solid #E1E1E1;
	width: 640px;
	clear: both;
}
.reference-layout {
	margin-top: 12px;
	background: #FCFCFC;
	padding: 0px 28px 16px 28px;
	border: 1px solid #E1E1E1;
	width: 640px;
	clear: both;
}
.ext_read-layout {
	margin-top: 12px;
	background: #FCFCFC;
	padding: 0px 28px 16px 28px;
	border: 1px solid #E1E1E1;
	width: 640px;
	clear: both;
}

.reference-layout h2 {
	font-size: 13pt;
	border-bottom: 1px dashed #CCC;
}
.ext_read-layout h2 {
	font-size: 13pt;
	border-bottom: 1px dashed #CCC;
}
/** å†™æ•™ç¨‹Modal */
#categories ul {
	margin-left: 0;
	list-style: none;
}
#categories ul li {
	display: inline;
	color: #333;
}
#categories ul li a {
	font-size: 11.5pt;
	color: #333;
}

/** menu & nav */
.header-nav {
	background: #565A56 url(../images/head_bg.png) repeat-x 0 0;
	height: 34px;
	overflow: hidden;
	width: auto;
	margin: 13px auto 0 auto;
}
.header-nav .menu {
	clear: both;
	width: 980px;
	margin: 0 auto;
}
.header-nav .category-list {
	display: none;
	position: absolute;
	z-index: 1100;
	width: 83px;
	border: 1px solid #999;
	border-top: 0;
	padding: 0 17px 17px 0;
	background: #FCFCFC;
	margin-bottom: 6px;
}
.header-nav .category-list li {
	float: left;
	width: 24px;
	padding: 17px 0 0 17px;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
ul, ol {
	list-style: none;
}
.header-nav .main-menu li {
	background: url(../images/head_bg.png) no-repeat 0 -34px;
	float: left;
	text-align: center;
	width: 101px;
	height: 34px;
	overflow: visible;
	position: relative;
	zoom: 1;
}
.header-nav .main-menu li a {
	font-size: 16px;
}
.header-nav .main-menu li a {
	color: white;
}
.exp-category-container {
	background: #FCFCFC;
	height: 29px;
	line-height: 29px;
	border-bottom: 1px solid #F1F1F1;
}
.exp-category-container .exp-category-list {
	width: 980px;
	margin: 0 auto;
}
.clearfix {
	zoom: 1;
}
.exp-category-container .exp-category-list li {
	float: left;
	padding: 0 18px;
	border-right: 1px solid #F1F1F1;
	line-height: 10px;
	margin-top: 10px;
}
.left {
	margin-top: 12px;
	float: left;
}
.right {
	width: 300px;
	float: right;
	margin-top: 24px;
	padding: 12px 6px 12px 6px;
	border-top: 1px solid #F1F1F1;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #DDD;
}
.category-list {
	box-shadow: 0 3px 2px #F9F9F9;
	padding: 10px 20px 10px 20px;
	border-top: 1px solid #F1F1F1;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #DDD;
	background: url(../images/category-bg.png) left bottom repeat-x;
}
.path {
	padding: 17px 0 5px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border-color: gray;
}
thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
.category-exp-list thead th {
	height: 28px;
	line-height: 28px;
	background: #FCFCFC;
	border-top: 1px solid #51A351;
	border-bottom: 1px solid #F1F1F1;
	text-align: left;
	font-weight: normal;
	color: #999;
}
.category-exp-list .c1 {
	width: 70%;
}
.category-exp-list thead th.c1 {
	padding-left: 10px;
}
.category-exp-list .c2 {
	width: 18%;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
.category-exp-list tbody tr td {
	border-bottom: 1px dotted #E1E1E1;
	padding: 9px 0;
}
.pg {
	font-family: arial;
	font-size: 13px;
	height: 24px;
	line-height: 24px;
	padding: 12px 0;
	margin: 0 auto;
	width: 584px;
	display: block;
	padding: 30px 0 0;
	text-align: center;
}
.pg b {
	color: black;
	margin-right: 5px;
	display: inline-block;
	width: 25px;
	text-align: center;
}
.pg a {
	margin-right: 5px;
	display: inline-block;
	line-height: 24px;
	border: 1px solid #E7ECF0;
	color: mediumBlue;
	width: 25px;
	text-decoration: none;
	text-align: center;
}
.pg .padding8 {
	padding: 0 8px;
	width: auto;
}
.description {
	padding: 10px 24px 12px 26px;
	font-size: 12.5pt;
	float: left;
}
#content a {
	text-decoration: underline;
}
#content h2 {
	font-size: 12pt;
}

table.src {
	border: 1px solid #D6D6D6;
	width: 100%;
	border-collapse: collapse;
	vertical-align: top;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #F7F7F7;
}
table.src th {
	border-collapse: collapse;
	border: 1px solid #D6D6D6;
	background-color: #EEE;
	padding: 5px;
	text-align: left;
}
table.src td {
	border-collapse: collapse;
	border: 1px solid #D6D6D6;
	padding: 5px;
}
adding: 5px;
}
