
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:10.0pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
h1
	{margin-top:17.0pt;
	margin-right:0cm;
	margin-bottom:16.5pt;
	margin-left:0cm;
	text-align:right;
	line-height:240%;
	page-break-after:avoid;
	font-size:26.0pt;
	font-family:"Times New Roman","serif";
	text-shadow:auto;
	font-weight:normal;}
h2
	{margin-top:14.0pt;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:172%;
	page-break-after:avoid;
	font-size:18.0pt;
	font-family:"Arial","sans-serif";
	text-shadow:auto;
	font-weight:normal;}
h3
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:2.0pt;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:172%;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Times New Roman","serif";
	text-shadow:auto;
	font-weight:normal;}
h4
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:2.0pt;
	margin-left:7.5pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:157%;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Arial","sans-serif";
	text-shadow:auto;
	font-weight:normal;}
h5
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:21.1pt;
	page-break-after:avoid;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
h6
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	page-break-after:avoid;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-align:right;
	text-indent:52.0pt;
	page-break-after:avoid;
	font-size:26.0pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
p.MsoHeading8, li.MsoHeading8, div.MsoHeading8
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-align:right;
	text-indent:52.2pt;
	page-break-after:avoid;
	font-size:26.0pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
p.MsoToc1, li.MsoToc1, div.MsoToc1
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:21.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoToc4, li.MsoToc4, div.MsoToc4
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:31.5pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoToc5, li.MsoToc5, div.MsoToc5
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:84.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:10.0pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoToc6, li.MsoToc6, div.MsoToc6
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:105.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:10.0pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoToc7, li.MsoToc7, div.MsoToc7
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:126.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:10.0pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoToc8, li.MsoToc8, div.MsoToc8
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:147.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:10.0pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoToc9, li.MsoToc9, div.MsoToc9
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:168.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:10.0pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-indent:10.0pt;
	layout-grid-mode:char;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-align:center;
	line-height:12.0pt;
	layout-grid-mode:char;
	border:none;
	padding:0cm;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-align:center;
	line-height:12.0pt;
	layout-grid-mode:char;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoCaption, li.MsoCaption, div.MsoCaption
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
span.MsoFootnoteReference
	{vertical-align:super;}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:21.0pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:10.0pt;
	background:navy;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p
	{margin-right:0cm;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:ËÎÌå;}
pre
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:ºÚÌå;}
span.KasiAltK
	{mso-style-name:"\!×Ö·û\[Kasi×ÖÌå\]Alt + K";
	font-family:"Courier New";
	border:solid windowtext 1.0pt;
	padding:0cm;
	background:#CCCCCC;}
p.31, li.31, div.31
	{mso-style-name:"ÑùÊ½ ±êÌâ 3 + ×ó²à\:  1 ×Ö·û";
	margin-top:10.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:172%;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
p.AltD, li.AltD, div.AltD
	{mso-style-name:"\!¶ÎÂä\[´úÂë¶Î\]Alt + D";
	margin-top:0cm;
	margin-right:10.0pt;
	margin-bottom:0cm;
	margin-left:10.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:13.0pt;
	background:#E6E6E6;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:"Courier New";}
p.AltD052, li.AltD052, div.AltD052
	{mso-style-name:"ÑùÊ½ \!¶ÎÂä\[´úÂë¶Î\]Alt + D + µ×¶Ë\: \(´øÒõÓ°µ¥ÊµÏß ×Ô¶¯ÉèÖÃ  0\.5 °õ ÐÐ¿í ¾àÕýÎÄ\:  2 °õ ±ß¿ò¼ä\.\.\.";
	margin-top:0cm;
	margin-right:10.0pt;
	margin-bottom:0cm;
	margin-left:10.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:10.0pt;
	background:#E6E6E6;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:"Courier New";}
span.KasiAltK0
	{mso-style-name:"ÑùÊ½ \!×Ö·û\[Kasi×ÖÌå\]Alt + K + À¶É«";
	font-family:"Courier New";
	color:blue;
	border:solid windowtext 1.0pt;
	padding:0cm;
	background:#CCCCCC;}
p.AltP, li.AltP, div.AltP
	{mso-style-name:"\!¶ÎÂä\[²ÎÊý¶Î\]Alt + P";
	margin-top:0cm;
	margin-right:10.0pt;
	margin-bottom:0cm;
	margin-left:10.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:13.0pt;
	background:#E6E6E6;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:"Courier New";}
p.a, li.a, div.a
	{mso-style-name:"\!¶ÎÂä\[ÁÐ±íÎÄ×Ö¾ÓÖÐ\]";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
span.msoIns
	{mso-style-name:"";
	text-decoration:underline;
	color:teal;}
span.msoDel
	{mso-style-name:"";
	text-decoration:line-through;
	color:red;}
 /* Page Definitions */
 @page Section1
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section1
	{page:Section1;}
@page Section2
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section2
	{page:Section2;}
@page Section3
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section3
	{page:Section3;}
@page Section4
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section4
	{page:Section4;}
@page Section5
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section5
	{page:Section5;}
@page Section6
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section6
	{page:Section6;}
@page Section7
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section7
	{page:Section7;}
@page Section8
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section8
	{page:Section8;}
@page Section9
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section9
	{page:Section9;}
@page Section10
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section10
	{page:Section10;}
@page Section11
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section11
	{page:Section11;}
@page Section12
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section12
	{page:Section12;}
@page Section13
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section13
	{page:Section13;}
@page Section14
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section14
	{page:Section14;}
@page Section15
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section15
	{page:Section15;}
@page Section16
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section16
	{page:Section16;}
@page Section17
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section17
	{page:Section17;}
@page Section18
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section18
	{page:Section18;}
@page Section19
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section19
	{page:Section19;}
@page Section20
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section20
	{page:Section20;}
@page Section21
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section21
	{page:Section21;}
@page Section22
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section22
	{page:Section22;}
@page Section23
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section23
	{page:Section23;}
@page Section24
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section24
	{page:Section24;}
@page Section25
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section25
	{page:Section25;}
@page Section26
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section26
	{page:Section26;}
@page Section27
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section27
	{page:Section27;}
@page Section28
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section28
	{page:Section28;}
@page Section29
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section29
	{page:Section29;}
@page Section30
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section30
	{page:Section30;}
@page Section31
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section31
	{page:Section31;}
@page Section32
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section32
	{page:Section32;}
@page Section33
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section33
	{page:Section33;}
@page Section34
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section34
	{page:Section34;}
@page Section35
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section35
	{page:Section35;}
@page Section36
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section36
	{page:Section36;}
@page Section37
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section37
	{page:Section37;}
@page Section38
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section38
	{page:Section38;}
@page Section39
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section39
	{page:Section39;}
@page Section40
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section40
	{page:Section40;}
@page Section41
	{size:521.65pt 26.0cm;
	margin:2.0cm 2.0cm 51.05pt 2.0cm;
	layout-grid:15.6pt 0pt;}
div.Section41
	{page:Section41;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
